/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100vw; /* Restrict to viewport width */
    box-sizing: border-box;
}