<div class="hamburger" (click)="toggleMenu()">
    <!-- Hamburger icon -->
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  
  <div *ngIf="isMenuOpen" class="menu">
    <ul>
      <li>
        <label>
          <input
            type="radio"
            name="forecastOption"
            [checked]="selectedView === 'current'"
            (change)="setView('current')"
          />
          Current
        </label>
      </li>
      <li>
        <label>
          <input
            type="radio"
            name="forecastOption"
            [checked]="selectedView === '7day'"
            (change)="setView('7day')"
          />
          7-Day Forecast
        </label>
      </li>
      <li>
        <label>
          <input
            type="radio"
            name="forecastOption"
            [checked]="selectedView === 'daily'"
            (change)="setView('daily')"
          />
          Daily
        </label>
      </li>
      
      <li>Weather Units <br>
        <label>
            <input
              type="checkbox"
              [checked]="selectedUnit === 'Fahrenheit'"
              (change)="setUnit('Fahrenheit')"
            />
            Fahrenheit
          </label>
        </li>
        <li>
          <label>
            <input
              type="checkbox"
              [checked]="selectedUnit === 'Celsius'"
              (change)="setUnit('Celsius')"
            />
            Celsius
          </label>  
      </li>
      <li>Favorites</li>
      <li><button (click)="navigateToLogin()" class="menu-button">Login</button></li>
      <li><button (click)="navigateToCreate()" class="menu-button">Create Account</button></li>
      
    </ul>
  </div>
  