<div class="background-image">
  <div class="overlay">
    <div class="login-container">
      <h2>Create Account</h2> <!-- Changed from Login to Create Account -->
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <label for="favoriteLocation">Favorite Location:</label>
          <input type="text" id="favoriteLocation" name="favoriteLocation" [(ngModel)]="favoriteLocation">
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Create Account</button>
      </form>
    </div>
  </div>
</div>
